{"filter":false,"title":"web.config","tooltip":"/cms/public/web.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":114,"scrollleft":0,"selection":{"start":{"row":4,"column":3},"end":{"row":4,"column":3},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":6,"state":"start","mode":"ace/mode/text"}},"timestamp":1616564242578,"hash":"a488f644978d1fe3cacd095ebd2e96c126e34e5b"}